.loaderWrapper {
    margin: 0 auto;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px dashed #7B61FF;
    animation: rotate 10s infinite linear;
}

.loaderText {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #7B61FF;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}