.loading {
    width: 20px;
    height: 20px;
    border: 2.5px solid #7B61FF;
    border-top: 2.5px solid transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}