.slider {
    overflow: hidden;
    position: relative;
    width: 1184px;
}

.recommendHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.slideList {
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.light {
    color: black;
}

.film {
    padding-right: 41px;
}

@media screen and (max-width: 1919px) {
    .slider {
        width: 880px;
    }
}

@media screen and (max-width: 1628px) {
    .slider {
        width: 575px;
    }
}

@media screen and (max-width: 1443px) {
    .slider {
        width: 570px;
    }
}

@media screen and (max-width: 1434px) {
    .slider {
        width: 470px;
    }
}

@media screen and (max-width: 1349px) {
    .slider {
        width: 460px;
    }
}

@media screen and (max-width: 1328px) {
    .slider {
        width: 400px;
    }
}

@media screen and (max-width: 1278px) {
    .slider {
        width: 470px;
    }
}

@media screen and (max-width: 1124px) {
    .slider {
        width: 450px;
    }
}

@media screen and (max-width: 1115px) {
    .slider {
        width: 370px;
    }
}

@media screen and (max-width: 1025px) {
    .slider {
        width: 455px;
    }
}

@media screen and (max-width: 828px) {
    .slider {
        width: 310px;
    }
}

@media screen and (max-width: 768px) {
    .slider {
        width: 448px;
    }

    .film {
        padding-right: 32px;
    }
}

@media screen and (max-width: 760px) {
    .slider {
        width: 300px;
    }
}

@media screen and (max-width: 584px) {
    .slider {
        width: 208px;
    }

    .recommendHeader {
        flex-direction: column;
        gap: 32px;
        padding-bottom: 32px;
    }

    .slider {
        align-self: center;
    }
}

@media screen and (max-width: 500px) {
    .slider {
        width: 280px;
    }

    .film {
        padding-right: 10px;
    }

    .recommendHeader {
        flex-direction: row;
        gap: 32px;
        padding-bottom: 32px;
    }
}
