.films {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

@media screen and (max-width: 1805px) {
    .films {
        justify-content: center;
        column-gap: 40px;
    }
}

@media screen and (max-width: 1440px) {
    .films {
        justify-content: space-between;
        column-gap: 0;
    }
}

@media screen and (max-width: 1370px) {
    .films {
        justify-content: center;
        column-gap: 40px;
    }
}

@media screen and (max-width: 1280px) {
    .films {
        column-gap: 32px;
    }
}

@media screen and (max-width: 500px) {
    .films {
        gap: 32px;
    }
}

