.searchInputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.hidden {
    display: none;
}

.filter {
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.svg {
    stroke: rgba(175, 178, 182, 1);
    fill: rgba(175, 178, 182, 1);
    border: 2px solid #AFB2B6;
}